#main {
    display: grid;
    width: 100%;
    .card {
        width: 33.33%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 256px;
        }


        
    }
}

