html {
    --dark-blue: #1c2331;
    --hover-color: rgba(0, 0, 0, 0.5);
    --background-color: #f9fafb;
    --background-color-footer: #ededef;
    --text-color: #000;
    --btn-blue: #007bff;
}

#main {
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        width: 900px;
        height: 90%;
        background-color: var(--background-color-footer);
        button {
            width: 360px;
            margin: auto;
            box-sizing: border-box;
            height: 45px;
            border: 1px solid transparent;
            background-color: var(--btn-blue);
            margin-bottom: 10px;
            &:hover {
                color: white;
            }
        }
        label {
            text-align: center;
            font-size: 20px;
            white-space: nowrap;
            &:not(.lblid) {
                margin-bottom: 10px;
            }
        }
        div:not(#not *) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            div:not(#not *) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        }
        div {
            .input {
                margin: 5% 0% 5% 0%;
                width: 100%;
                input, select {
                    box-sizing: border-box;
                    font-weight: 600;
                    border:1px solid #ced4da;
                    background-color: #fff;
                    height: 45px;
                    min-height: 45px;
                    padding: 10px 15px 10px 15px;
                    font-size: 16px;
                    &::placeholder {
                        font-weight: 900;
                    }
                    &:invalid:focus {
                        border-color: red;
                    }
                    &:valid {
                        border-color: green;
                    }
                    &:focus {
                        outline: none;
                    }
                    &[type='radio'] {
                        height: 18px;
                        min-height: 18px;
                        width: 35px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                select {
                    width: 250px;
                    option {
                        padding: 0%;
                    }
                }
            }
        }
    }
}

.one {
    width: 100%;
    .input {
        width: 250px !important;
        input {
            width: 250px !important;
        }
    }
}

#not-container {
    width: 100%;
    .input {
        width: 250px !important;
        input {
            width: 250px !important;
        }
    }
}

#not {
    margin: 5%;
}

#radio {
    div {
        margin: 10px !important;
        width: 360px !important;
        input {
            width: 360px;
        }
    }
}

#phone {
    width: 250px;
}

#rs {
    width: 400px !important;
    input {
        width: 400px !important;
    }
}

sup {
    color: red;
}

.idc {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

#login-msg {
    a {
        color: #000;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:visited {
            color: #000;
        }
        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    margin-bottom: 15px;
}

#hint {
    width: 100%;
    text-align: start;
    color: rgb(168, 168, 168);
    font-size: 12px;
}

#err-msg {
    margin: 0%;
    color: red;
}

#two-items {
    width: 100%;
    justify-content: center !important;
    .two {
        width: 40% !important;
    }
}
